[submodule "third_party/USD"]
	path = third_party/USD
	url = https://github.com/PixarAnimationStudios/USD.git
	branch = master
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "third_party/linmath.h"]
	path = third_party/linmath.h
	url = https://github.com/datenwolf/linmath.h.git
	branch = master
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
	branch = master
