[submodule "third_party/USD"]
	path = third_party/USD
	url = https://github.com/PixarAnimationStudios/USD.git
	branch = master
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master
[submodule "third_party/linmath.h"]
	path = third_party/linmath.h
	url = https://github.com/datenwolf/linmath.h.git
	branch = master
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
	branch = master
[submodule "third_party/blender"]
	path = third_party/blender
	url = https://github.com/blender/blender.git
	branch = blender-v2.81-release
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "third_party/enum-flags"]
	path = third_party/enum-flags
	url = https://github.com/grisumbras/enum-flags.git
	branch = master
[submodule "third_party/hgiVk"]
	path = third_party/hgiVk
	url = https://github.com/lumonix/hgiVk.git
